<div class="row">
  <div class="col-12">
    <a style="margin: 0 16px" mat-raised-button color="primary" type="button" routerLink="/cinemaAndTheaters" routerLinkActive="active">К списку театров и кинотеатров</a>
  </div>
  <div style="display: inline-grid">
    <mat-slider color="primary" [min]="min" [max]="max" step="1" [(ngModel)]="sliders.val1" (input)="onInputChange($event, 0)"></mat-slider>
    <mat-slider color="primary" [min]="min" [max]="max" step="1" [(ngModel)]="sliders.val2" (input)="onInputChange($event, 1)"></mat-slider>
    <mat-slider color="primary" [min]="min" [max]="max" step="1" [(ngModel)]="sliders.val3" (input)="onInputChange($event, 2)"></mat-slider>
  </div>
  <p>{{sliders | json}}</p>
  <p>sum : {{getSum()}}</p>
</div>
